.restaurant-main {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  display: flex !important;
  flex-direction: column;
  width: 100%;
}

.not-found-message {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
  width: 100%;
}
