.search-wrapper {
  position: relative;
  flex: 1;
  min-width: 15rem;
}

.search-wrapper i {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-text-light);
}

.search-wrapper input {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 2.5rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 0.9rem;
  transition: border-color var(--transition-speed);
}

.search-wrapper input:focus {
  outline: none;
  border-color: var(--color-brand);
}
