*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #000;
  --color-discover: #eceaea;
  --color-secondary: #fff;
  --color-accent: #f4f4f4;
  --color-text: #333;
  --color-text-light: #666;
  --color-border: #e0e0e0;
  --color-brand: #304146;
  --color-logo: #ff4b2b;
  --font-family: 'Roboto', sans-serif;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --container-width: 95%;
  --color-footer-bg: #0f172a;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--color-text);
  background-color: var(--color-secondary);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
}

h1 {
  font-size: 4.5rem;
  font-weight: 500;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: var(--spacing-sm);
}

p {
  margin-top: 0;
  margin-bottom: var(--spacing-sm);
  color: var(--color-text-light);
  font-size: 1.15rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
.btn {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--spacing-sm);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.info {
  text-align: center;
}

@media (width <=780px) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 2.2rem;
  }
}
