@import url('restaurant/base.css');
@import url('restaurant/hero.css');
@import url('restaurant/details.css');
@import url('restaurant/parallax.css');
@import url('restaurant/content.css');
@import url('restaurant/buttons.css');
@import url('restaurant/responsive.css');
